working/**
public/**
.notes.md
resources/**

.hugo_build.lock
*.gem
.bundle
.jekyll-cache
.sass-cache
_site
Gemfile.lock
.DS_Store
**/.DS_Store

todo.md

layouts/_default/single_pre3col_backup.html
layouts/partials/toc_preserved.html
content/fun/literature.md
