<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/libs/bootstrap/bootstrap.min.css">
  <script defer src="{{ site.github.url }}/assets/libs/fontawesome/all.min.js"></script>
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.github.url }}/assets/apple-icon.png">
  <link rel="shortcut icon" href="{{ site.github.url }}/assets/favicon.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
  <style>
    .collapsible {
      font-size: 1.1em;
      font-weight: 495;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 0.5em 0;
    }
    .collapsible:hover {
      background-color: #f0f0f0;
    }
    .collapsible-content {
      display: none;
      margin-top: 0.35em;
      margin-bottom: 0.35em;
    }
  </style>
</head>
