{{ define "main" }}
  <article class="max-w-3xl mx-auto">
    <header>
      {{ if .Params.showBreadcrumbs | default (.Site.Params.article.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <!-- <h1 class="!mt-12 text-3xl font-extrabold text-neutral-900 dark:text-neutral"> -->
      <h1 style="margin-top: 6rem !important;" class="text-3xl font-extrabold text-neutral-900 dark:text-neutral">
        {{ .Title | emojify }}
      </h1>
    </header>
    <section class="max-w-3xl mx-auto mt-2 prose dark:prose-invert">
      {{ .Content }}
    </section>
    <footer class="pt-8">
      {{ partial "sharing-links.html" . }}
    </footer>
  </article>
{{ end }}
