{{ define "main" }}
  {{ .Scratch.Set "scope" "list" }}
  {{ $enableToc := .Params.showTableOfContents | default (site.Params.list.showTableOfContents | default false) }}
  {{ $showToc := and $enableToc (in .TableOfContents "<ul") }}

  <div class="mx-auto max-w-custom">   <!-- NEW wrapper -->

    {{/* Header */}}
    <header>
      {{ if .Params.showBreadcrumbs | default (site.Params.list.showBreadcrumbs | default false) }}
        {{ partial "breadcrumbs.html" . }}
      {{ end }}
      <h1 style="margin-top: 6rem !important;" class="text-3xl font-extrabold text-neutral-900 dark:text-neutral">{{.Title}}</h1>
      <div class="text-base text-neutral-500 dark:text-neutral-400 print:hidden">
        {{ partial "article-meta/list.html" (dict "context" . "scope" "single") }}
      </div>
    </header>

    {{/* Description (markdown content) */}}
    {{ $tocMargin := cond $showToc "mt-12" "mt-0" }}
    {{ $topClass := cond (hasPrefix site.Params.header.layout "fixed") "lg:top-[140px]" "lg:top-10" }}
    <section class="{{ $tocMargin }} prose flex flex-col dark:prose-invert lg:flex-row">
      {{ if $showToc }}
        <div class="order-first px-0 lg:order-last lg:max-w-xs ltr:lg:pl-8 rtl:lg:pr-8">
          <div class="toc ltr:pl-5 rtl:pr-5 lg:sticky {{ $topClass }}">
            {{ partial "toc.html" . }}
          </div>
        </div>
      {{ end }}
      <div class="min-w-0 min-h-0 mt-2">
        {{ .Content }}
      </div>
    </section>

    {{/* Article Grid */}}
    {{ if gt .Pages 0 }}
      <section class="mt-10 space-y-10">
        {{ range (.Paginate .Pages).Pages }}
          {{ partial "article-link/simple.html" . }}
        {{ end }}
      </section>
    {{ else }}
      <section class="mt-10 prose dark:prose-invert">
        <p class="py-8 border-t">
          <em>{{ i18n "list.no_articles" | emojify }}</em>
        </p>
      </section>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div> <!-- END wrapper -->
{{ end }}
