<div class="relative pt-16 pb-32">
  <div aria-hidden="true" class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
  <div class="relative">
    <div class="w-full max-w-custom mx-auto">
      <div class="grid w-full grid-cols-1 lg:grid-cols-2 gap-4 lg:gap-12 items-start">
        <div class="w-full">
          <article class="prose dark:prose-invert prose-lg max-w-none">
            <!-- {{ with .Title }} -->
            <!--   <header> -->
            <!--     <h1>{{ . | emojify }}</h1> -->
            <!--   </header> -->
            <!-- {{ end }} -->
            <section class="w-full">{{ .Content }}</section>
          </article>
        </div>
        <div class="w-full">
          {{ $homepageImage := "" }}
          {{ with .Site.Params.defaultBackgroundImage }}
            {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
              {{ $homepageImage = resources.GetRemote . }}
            {{ else }}
              {{ $homepageImage = resources.Get . }}
            {{ end }}
          {{ end }}
          {{ with .Site.Params.homepage.homepageImage }}
            {{ if or (strings.HasPrefix . "http:") (strings.HasPrefix . "https:") }}
              {{ $homepageImage = resources.GetRemote . }}
            {{ else }}
              {{ $homepageImage = resources.Get . }}
            {{ end }}
          {{ end }}
          {{ if $homepageImage }}
          <figure>
            <img
              class="w-full h-auto rounded-base"
              src="{{ $homepageImage.RelPermalink }}">
            <figcaption style="font-family: monospace; text-align: center; margin-top: 0.5em;">
              jacksanderson [at] uchicago [dot] edu
            </figcaption>
          </figure>
            <!-- <img -->
            <!--   class="w-full h-auto rounded-base" -->
            <!--   src="{{ $homepageImage.RelPermalink }}"> -->
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
